.task {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.task + .task {
  margin-top: 0.7rem;
}

.regCheckbox {
  -webkit-appearance: none;
  width: 1.5rem;
  min-width: 1.5rem;
  height: 1.5rem;
  border: 2px solid;
  position: relative;
  border-radius: 7px;
  cursor: pointer;
}

.title.checked {
  text-decoration: line-through;
  color: #404052;
}

.regCheckbox.checked:after {
  content: "\2714";
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
