.dashboard{
  height:inherit;
  display: flex;
  flex-direction: column;
  /* flex-basis: auto-fit auto-fit; */
}

.dashboard > h1 {
  margin: 1rem 0;
}

.dashboard-collection__items {
  overflow-y: auto;
  position: relative;
  padding-right: 2rem;
  padding-bottom: 1rem;
}

@media screen and (max-width: 700px) {
  .dashboard-collection__items {
    padding-right: 0;
  }
}

